
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.header-row, .row {
    display: flex;
    width: 100%;
}

.cell, .header {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    flex: 1;
}

.header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.transactions {
    display: flex;
    flex-direction: column;
}

.button{
    
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.transactions-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .transactions-list h3 {
    font-size: 20px;
  }
  
  .transactions-list div {
    margin: 5px 0;
  }
  
  .transactions-list button {
    margin-top: 10px;
  }